<!doctype html>
<html>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>City Wide Construction</title>

    <link href=" https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/32d9cebf03.js" crossorigin="anonymous"></script>
    <script src="js/main.js" defer></script>
  </head>

  <body class="overflow-x-hidden">

    <!-- Top bar -->
    <div class="bg-blue-600 text-white w-full h-max py-3 absolute top-0 z-10">
      <div class="container bg-blue-600 flex justify-end text-xs">
        <p><i class="fas fa-headset mr-2"></i>505-238-8610</p>
        <p><i class="far fa-envelope mr-2 ml-10"></i>hello@citywide.construction</p>
      </div>
    </div>
    <!-- /Top bar -->


    <!-- Nav -->
    <nav class="sticky top-0 z-10 w-full h-full flex justify-around items-center shadow-sm py-5 bg-white mt-10">

      <img src="img/logo.png" alt="City Wide Contruction" />

      <div>
        <a class="mr-5 font-semibold" href="#aboutUs">Who We Are</a>
        <a class="mr-5 font-semibold" href="#aboutDo">What We Do</a>
        <a class="mr-5 font-semibold" href="#contact">Get In Touch</a>
      </div>

    </nav>
    <!-- /Nav -->

    <!-- Hero -->
    <div class="2xl:h-screen bg-black overflow-hidden -mt-36 relative">

      <div class="slide hidden space-y-6 relative">
        <img src="img/building1.jpg" class="opacity-60 2xl:h-screen w-full object-cover" />
        <div class="absolute top-1/2 left-1/2 mt-20 -ml-20 w-1/2" style="transform: translate(-50%, -50%); width: 45rem;">
          <h1 class="text-9xl text-white mb-8 flex">Construction<i class="fas fa-circle text-yellow-300 text-sm ml-2 mt-24"></i></h1>
          <p class="text-xl text-white">As a general contractor, we first create the highest level of trust and itegrity with our clients. We value our role in the success of your project.</p>
        </div>
      </div>

    </div>
    <!-- /Hero-->

    <!-- Spacer -->
    <div class="h-40 w-full">
      <div class="bg-blue-500 w-1/4 h-full"></div>
    </div>
    <!-- /Spacer -->

    <!-- Info -->
    <div class="flex flex-col xl:flex-row w-full" id="aboutUs">
      <div class="min-w-1/2 bg-black text-white p-20 py-56">
        <h1 class="text-7xl mb-20">Hey there<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>
        <p class="text-xl mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia natus laudantium iusto ipsam pariatur. At excepturi similique rerum magnam voluptatibus cum eius odit temporibus, ab expedita, accusamus laborum pariatur modi.</p>
        <button class="bg-blue-500 py-3 text-white px-8 hover:bg-white hover:text-black transition duration-500">Read More</button>
      </div>

      <div class="grid grid-cols-2">

        <div class="bg-white border p-20">
          <div class="relative w-max">
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <i class=" text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>
          <h3 class="text-3xl mb-6 font-semibold mt-14">Construction<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
        </div>

        <div class="bg-white border p-20">
          <div class="relative w-max">
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <i class=" text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>
          <h3 class="text-3xl mb-6 font-semibold mt-14">Construction<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
        </div>

        <div class="bg-white border p-20">
          <div class="relative w-max">
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <i class=" text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>
          <h3 class="text-3xl mb-6 font-semibold mt-14">Construction<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
        </div>

        <div class="bg-white border p-20">
          <div class="relative w-max">
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <i class=" text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>
          <h3 class="text-3xl mb-6 font-semibold mt-14">Construction<i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
        </div>

      </div>

    </div>
    <!-- /Info -->

    <!-- Spacer -->
    <div class="h-40 w-full">
      <div class="bg-blue-500 w-1/4 h-full"></div>
    </div>
    <!-- /Spacer -->

    <!-- Reviews -->
    <div class="lg:p-32 p-20 py-32 w-full h-max relative">
      <div class="bg-blue-500 h-full w-1/4 absolute right-0 top-0" style="z-index: -1;"></div>

      <div class="relative w-4/6 mx-auto flex ml-10 lg:ml-auto">
        <div class="flex flex-col justify-end">
          <h1 class="text-6xl mr-20 2xl:mr-0 mb-4">Clients say<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>


          <div class="slide-2 hidden bg-white h-3/4 -mr-40 flex flex-col justify-center pr-10">
            <p class="text-2xl text-gray-500 mb-14">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero exercitationem quaerat dolore dolores, maiores accusantium numquam explicabo.</p>
            <div class="flex">
              <img src="img/building1.jpg" class="h-10 w-10 mt-2 rounded-full object-cover mr-3" />
              <div>
                <p class="font-semibold text-2xl">Nathan Lindsay</p>
                <p class="text-sm text-gray-500">Project Manager</p>
              </div>
            </div>
          </div>

        </div>

        <img src="img/building1.jpg" style="height: 38rem; width: 28rem; z-index: -1;" />
      </div>
    </div>
    </div>
    <!-- /Reviews -->

    <!-- Second Company info -->
    <div class="flex w-full flex-col xl:flex-row" id="aboutDo">
      <div class="min-w-1/2 bg-black text-white p-20 py-56">
        <h1 class="text-7xl mb-20">Hey there<i class="fas fa-circle text-blue-500 text-sm ml-2"></i></h1>
        <p class="text-xl mb-20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia natus laudantium iusto ipsam pariatur. At excepturi similique rerum magnam voluptatibus cum eius odit temporibus, ab expedita, accusamus laborum pariatur modi.</p>
        <button class="bg-blue-500 px-8 py-3 text-white hover:bg-white hover:text-black transition duration-500">Read More</button>
      </div>

      <div class="grid grid-cols-2">
        <img src="img/building1.jpg" class="w-max object-cover h-full" />
        <img src="img/building2.jpg" class="w-max object-cover h-full" />
        <img src="img/building3.jpg" class="w-max object-cover h-full" />
        <img src="img/building4.jpg" class="w-max object-cover h-full" />
      </div>
    </div>
    <!-- /Second Company info -->

    <!-- Spacer -->
    <div class="h-40 w-full">
      <div class="bg-blue-500 w-1/4 h-full"></div>
    </div>
    <!-- /Spacer -->

    <!-- Contact and location -->
    <div class="flex flex-col xl:flex-row" id="contact">
      <div class="xl:w-1/2 xl:text-left text-center w-full flex">

        <div class="w-1/2 border-b py-auto p-20 flex flex-col justify-center border-l">
          <div class="relative w-max">
            <!-- Hexagon Background -->
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <!-- /Hexagon Background -->
            <i class="<%= c[:class] %> text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>

          <h3 class="text-3xl mb-6 font-semibold mt-20"><%= c[:name] %><i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400"><%= c[:info] %></p>
        </div>

        <div class="w-1/2 border-b py-auto p-20 flex flex-col justify-center border-l">
          <div class="relative w-max">
            <!-- Hexagon Background -->
            <div class="relative" style="width: 3rem; height: 1rem;">
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(60deg); position: absolute;"></div>
              <div style="width: 3rem; height: 2rem; background-color: black; border-radius: 5px; transform: rotate(-60deg); position: absolute;"></div>
            </div>
            <!-- /Hexagon Background -->
            <i class="<%= c[:class] %> text-2xl text-white absolute left-1/2" style="transform: translate(-50%, -50%)"></i>
          </div>

          <h3 class="text-3xl mb-6 font-semibold mt-20"><%= c[:name] %><i class="fas fa-circle text-blue-500 ml-2" style="font-size: 8px;"></i></h3>
          <p class="text-gray-400"><%= c[:info] %></p>
        </div>

      </div>

      <div class="xl:w-1/2 w-full h-full overflow-hidden">
        <div class="transform transition duration-500 hover:scale-150">
          <img src="img/map.png">
        </div>
      </div>
    </div>
    <!-- /Contact and location -->

    <!-- Bottom bar -->
    <div class="bg-black text-white p-3 w-full">
      <div class="container mx-auto">
        <p>Website by Calmnus</p>
      </div>
    </div>
    <!-- /Bottom bar -->

  </body>

</html>